.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
Thumbs.db
*.log

# These files contain API keys and are hence excluded.
/app/src/main/java/com/ejay/kingoftheroad/Constants.java
/app/src/debug/AndroidManifest.xml